*-secret.yaml
postgres-secret.yaml

# Only commit sealed secrets
!*-sealed-secret.yaml

# MySQL secrets
mysql/*-secret.yaml
!mysql/*-sealed-secret.yaml

# WordPress secrets
*-secret.yaml
!*-sealed-secret.yaml